
style "def_label_style" 
{ 
    fg[NORMAL] = {0.0, 0, 0.0}
    fg[PRELIGHT] = {0.9, 0, 0.0}
}

style "edge_style" 
{ 
    color["background"] = {0.9, 0.9, 0.9}
    color["foreground"] = {0.0, 0.0, 0.0}
    color["red"] = {0.9, 0.0, 0.0}
    fg[NORMAL] = @foreground
    fg[PRELIGHT] = {0.9, 0.0, 0.0}
    fg[SELECTED] = {0.0, 0.0, 0.9}
}

style "elem_style" 
{ 
    color["background"] = {0.85, 0.85, 0.85}
    color["foreground"] = {0.0, 0.0, 0.0}
    color["red"] = {0.9, 0.0, 0.0}
    fg[NORMAL] = @foreground
    bg[PRELIGHT] = {0.9, 0.0, 0.0}
    bg[NORMAL] = @background
    text[NORMAL] = @foreground
    base[NORMAL] = @background
    GtkLayout::draw-border = {5, 5, 5, 5}
}

# Deattached elem
style "elem_style_da" = "elem_style"
{ 
    fg[NORMAL] =  {0.7, 0.7, 0.7}
    bg[NORMAL] = {0.95, 0.95, 0.95}
}

# Deattached edge
style "edge_style_da" = "edge_style"
{ 
    fg[NORMAL] =  {0.7, 0.7, 0.7}
    fg[PRELIGHT] = {0.9, 0.0, 0.0}
    fg[SELECTED] = {0.0, 0.0, 0.9}
}

class "GtkLabel" style "def_label_style"

widget "*.*.ElemCompRp" style "elem_style"
widget "*.*.ElemCompRp~da" style "elem_style_da"
widget "*.*.Edge" style "edge_style"
widget "*.*.Edge~da" style "edge_style_da"
