
style "def_label_style" 
{ 
    fg[NORMAL] = {0.0, 0, 0.0}
    fg[PRELIGHT] = {0.9, 0, 0.0}
}

# DRP style
style "elem_drp_style"
{ 
    color["bckgrd"] = {0.9, 0.9, 0.9}
    bg[NORMAL] = @bckgrd
}

# Erroneous DRP style
style "elem_drp_att_style" = "elem_drp_style"
{ 
    fg[NORMAL] =  {0.5, 0.0, 0.0}
    bg[NORMAL] = mix(0.9, @bckgrd, {0.9, 0.0, 0.0} )
}

style "edge_style" 
{ 
    color["background"] = {0.9, 0.9, 0.9}
    color["foreground"] = {0.0, 0.0, 0.0}
    color["red"] = {0.9, 0.0, 0.0}
    fg[NORMAL] = @foreground
    fg[PRELIGHT] = {0.9, 0.0, 0.0}
    fg[SELECTED] = {0.0, 0.0, 0.9}
}

style "elem_style" 
{ 
    color["background"] = {0.85, 0.85, 0.85}
    color["foreground"] = {0.0, 0.0, 0.0}
    color["red"] = {0.9, 0.0, 0.0}
    fg[NORMAL] = @foreground
    bg[PRELIGHT] = {0.9, 0.0, 0.0}
    bg[NORMAL] = @background
    text[NORMAL] = @foreground
    base[NORMAL] = @background
    GtkLayout::draw-border = {5, 5, 5, 5}
}

# Elem required attention
style "elem_style_att" = "elem_style"
{ 
    fg[NORMAL] =  {0.5, 0.0, 0.0}
    bg[NORMAL] = {0.9, 0.7, 0.7}
}

# Deattached elem
style "elem_style_da" = "elem_style"
{ 
    fg[NORMAL] =  {0.7, 0.7, 0.7}
    bg[NORMAL] = {0.95, 0.95, 0.95}
}

# Deattached edge
style "edge_style_da" = "edge_style"
{ 
    fg[NORMAL] =  {0.7, 0.7, 0.7}
    fg[PRELIGHT] = {0.9, 0.0, 0.0}
    fg[SELECTED] = {0.0, 0.0, 0.9}
}

# Capsule CRP
style "capscrp_style" = "elem_style"
{ 
    fg[NORMAL] =  {0.8, 0.8, 0.8}
    bg[NORMAL] = {0.8, 0.8, 0.8}
    fg[PRELIGHT] =  {0.95, 0.95, 0.95}
    bg[PRELIGHT] = {0.95, 0.95, 0.95}
}

style "visdrawing_style" 
{ 
    color["background"] = {0.85, 0.85, 0.85}
    color["foreground"] = {0.0, 0.0, 0.0}
    color["red"] = {0.9, 0.0, 0.0}
    fg[NORMAL] = {0.0, 0.9, 0.0}
    bg[NORMAL] = {0.0, 0.9, 0.0}
    fg[ACTIVE] = {0.9, 0.0, 0.0}
    bg[ACTIVE] = {0.9, 0.0, 0.0}
    GtkLayout::draw-border = {5, 5, 5, 5}
}

style "custom-tooltip"
{
    fg[NORMAL] = {1.0, 1.0, 1.0}
    bg[NORMAL] = {0.0, 0.0, 0.0}
}

class "GtkLabel" style "def_label_style"

widget "*.*.ElemDrp" style "elem_drp_style"
widget "*.*.ElemDrp~err" style "elem_drp_att_style"
widget "*.*.ElemCompRp" style "elem_style"
widget "*.*.ElemCompRp~err" style "elem_style_att"
widget "*.*.ElemCompRp~da" style "elem_style_da"
widget "*.*.Edge" style "edge_style"
widget "*.*.Edge~da" style "edge_style_da"
widget "*.*.CapsCrp" style "capscrp_style"

widget "*.*.AVisDrawing" style "visdrawing_style"

# to fix the problem with black tool-tips font on black bg
widget "gtk-tooltip" style "custom-tooltip"

