#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/utils.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

#DEB_CONFIGURE_SCRIPT_ENV += LDFLAGS="-Wl,-z,defs,--as-needed"
DEB_CONFIGURE_SCRIPT_ENV += LDFLAGS="-Wl,--as-needed"

DEB_MAKE_BUILD_TARGET = all 
DEB_MAKE_CHECK_TARGET := check
DEB_DH_INSTALL_SOURCEDIR := debian/tmp

common-binary-post-install-arch:: list-missing

post-patches:: debian/stamp-autogen

debian/stamp-autogen:
	cd "$(DEB_BUILDDIR)" && ./autogen.sh
	touch "$@"

clean::
	rm -rf debian/stamp-autogen
